<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>WebEx</display-name>
 <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.test.HelloController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  
  <!--예제 1번 url 매핑 -->
  <servlet>
  	<servlet-name>ServletEx01</servlet-name>
  	<servlet-class>com.yongvvv.servlet.ServletEx01</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ServletEx01</servlet-name>
  	<url-pattern>/servlet/ex01</url-pattern>
  </servlet-mapping>
  
  <!-- 필터등록 -->
  <!-- 
  <filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>com.yongvvv.config.CharterEncodingFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>      
  </filter-mapping>
   -->
</web-app>